{% extends "index.html" %}

{% block content %}

<div class="container">
    <h2>About</h2>
    <h4>Ojective</h4>
    Our aim is to develop a highly sophisticated and secure online computer store portal, which is the enhancement
    of ecommerce website. I will provide all type of hardware device and software with minimum prices.

    <h4>Introduction</h4>
    <p>Nowadays, India has become digital India because of covid-19 situation, everyone has connected through the
        internet and opened many companies, which provide software and serve India. Engineering and all courses in university
        provide an online education facility. There are many education systems created in India like unacademy and GATE academy,
        but those students are unable to buy the computer device, there is a lot of loss in education , so with the presence
        of online portal stores, those students can easily get the computer devices and upgrade their own skills.</p><br>

    <p>Therefore, we are going to build an online computer store ecommerce website with all software and hardware
        products related through computers. Everyone can get computer devices easily at an affordable price.</p>


</div>

{% endblock %}