{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row m-1">
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{{url_for('user_data')}}" class="btn btn-primary">User data</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{{url_for('product_data')}}" class="btn btn-primary">Product data</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{{url_for('company_data')}}" class="btn btn-primary">Category data</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Order data</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Feedback</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Complains</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}