{% extends "index.html" %}

{% block content %}
<style>
    .img-container{
        text-align: center;
        display: block;

    }

</style>
<div class="container mt-5">

    {% for product in hardware_products %}
    <div class="card m-3">
        <div class="row">
            <div class="col-md-4">
                <span class="img-container">
                <img src="{{product[-1]}}" class="img-fluid" style="max-height:300px;text-align:center">
                </span>
            </div>
            <div class="col-md-8">
                <h2 class="card-title mt-3" href="#">{{product[1]}}</h2>
                <p class="card-text"><strong>Rs. {{product[2]}}</strong></p>
                <p class="card-text">{{product[3]}}</p>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}